.suggestions.show {
    display: block;
}

.suggestions-list {
    list-style: none;
    margin: 0;
    padding: 0;
    background: var(--bg-card);
    color: var(--text-main);
    border-color: var(--border-color);
}

.suggestion-item {
    padding: 10px 14px;
    cursor: pointer;
    transition: background 0.2ms;
}

.suggestion-item:hover {
    background-color: var(--suggestion-hover);
}

.suggestion-item.active {
    background-color: var(--suggestion-active);
}