.text-center {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather-skeleton {
    padding: 20px;
}

.skeleton-line {
    height: 16px;
    background: #eee;
    margin-bottom: 10px;
    border-radius: 4px;
    animation: pulse 1.5s infinite;
}

.skeleton-line.title {
    width: 60%;
    height: 22px;
}

.skeleton-line.temp {
    width: 40%;
    height: 30px;
}

.skeleton-line.short {
    width: 30%;
}

@keyframes pulse {
    0% { opacity: .6; }
    50% { opacity: 1; }
    100% { opacity: .6; }
}

.city-search {
    position: relative;
    width: 335px;
}

#cityInput {
    width: 100%;
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: none;
    z-index: 1000;
    margin-top: 4px;
    overflow: hidden;
}

.hourly-wrapper {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.hourly-scroll {
    display: flex;
    gap: 16px;
    padding: 16px;
    
    overflow-x: auto;
    scroll-behavior: smooth;

    /* Snap */
    scroll-snap-type: x mandatory;
    
    /* For phones */
    touch-action: pan-x;
    -webkit-overflow-scrolling: touch;
}

.hourly-scroll::-webkit-scrollbar {
    display: none;
}

.hourly-scroll::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.hourly-card {
    flex: 0 0 160px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 12px;
    padding: 12px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(6px);
    scroll-snap-align: center;
}

.hourly-card:hover {
    transform: translateY(-4px);
    transition: 0.2s ease;
}

.hourly-day {
    font-size: 14px;
    font-weight: 600;
    opacity: 0.8;
    text-transform: capitalize;
}

.hourly-time{
    font-size: 18px;
    font-weight: 700;
    margin: 4px 0;
}

.hourly-temp {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 6px;
}

.hourly-minmax {
    font-size: 0.8rem;
    opacity: 0.9;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: rgba(0,0,0,0.6);
    color: white;
    font-size: 26px;
    cursor: pointer;
    z-index: 20;
    
    backdrop-filter: blur(6px);
}

.scroll-btn.left { left: 4px; }
.scroll-btn.right { right: 4px; }

.scroll-btn.hidden { display: none; }